body {
		padding: 0;
		margin: 0;
		font-size: 16px;
		font-family: helvetica, verdana, arial, sans-serif;
		background-color: #FFFFFF;
		position: relative;
}

a, a:active, a:visited {
		color: #0000CC;
		text-decoration: none;
		font-weight: bold;
}

a:hover, a:focus {
		color: #0000CC;
}

div#idiot_header {
		background-color: #006dc9;
		padding: 1em;
		background-image: url('../images/head_bg.jpg');	
}

div#header {
		color: #FFFFFF;
		background-color: #004da9;
		padding: 1em;
		position: relative;
		font-size: 1.2em;
		background-image: url('../images/head_bg2.jpg');
		border-top: 1px solid #003db9;
		border-bottom: 1px solid #001d89;
		text-shadow: #001da9 0px 2px 2px;
}

div#user_info {
		position: absolute;
		top: 0em;
		right: 0em;
		width: 20em;
		padding: 2em;
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 80%;
		background-color: #000000;
		color: #FFFFFF;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
		z-index: 100;
}

div#user_info a, div#user_info a:visited, div#user_info a:active {
	  color: #EEEEFF;
}

div#header a, div#header a:active, div#header a:visited {
		color: #FFFFFF;
}

ul#project_list {
		list-style: none;
		padding: 0;
}

ul#project_list li {
		margin: 0;
		padding-left: 0;
}

ul#issue_list {
		list-style: none;
		padding: 0;
}

ul#issue_list li {
		margin: 0;
		padding-left: 0;
		font-weight: bold;
}

div#content {
		padding: 3em;
		padding-top: 1em;
		margin-top: 0;
		padding-bottom: 1em;
}

div#footer {
		padding: 3em;
		padding: 3em;
		padding-top: 0;
		margin-top: 2em;
}

input.a_form {
		width: 40em;
}

textarea.a_form {
		width: 40em;
		height: 15em;
}

select.a_form {
		width: 15em;
}

ul#issue_details {
		padding: 0;
		margin: 0;
		margin-bottom: 2em;
		list-style: none;
}

ul#issue_details li {
		padding-left: 0;
		font-size: 90%;
}

p#issue_description {
		background-color: #EEEEEE;
		font-family: bitstream vera sans mono, monaco, consolas, monospace;
		font-size: 0.8em;
		margin-left: 2em;
		margin-bottom: 2em;
		padding: 2em;
		-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;		
		border: 1px solid #E0E0EA;
}

div.comment {
		font-size: 90%;
		margin-left: 2em;
		margin-bottom: 2em;
		padding: 1.5em;
		background-color: #EEEEEE;
		-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;	
		border: 1px solid #E0E0EA;
}

div.comment_head {
		font-weight: bold;
}

div.comment_body {
		margin-top: 1em;
		font-family: bitstream vera sans mono, monaco, consolas, monospace;
		font-size: 0.8em;
}

a.button, a.button:active, a.button:visited, a.button:focus, a.button:hover {
		-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;	
		background-color: #003dc9;
		background-image: url('../images/head_bg_small.png');
		color: #FFFFFF;
		font-weight: bold;
		text-shadow: #001d79 -1px -1px 2px;
		padding: 0.5em;
		padding-top: 0.35em;
		padding-bottom: 0.35em;
}

ul.action_list {
		list-style: none;
		padding-left: 0;
		margin-top: 2em;
}

ul.action_list li {
		display: inline;
		margin-right: 1em;
}

div#project_description {
		font-size: 90%;
		margin-left: 2em;
		margin-bottom: 2em;
		padding: 1.5em;
		background-color: #EEEEEE;
		-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
		font-family: bitstream vera sans mono, monaco, consolas, monospace;
		font-size: 0.8em;
		border: 1px solid #E0E0EA;
}

div.comment_block {
		margin-top: 2.5em;
}

table.issue_table {
		background-color: #EEEEEE;
		-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
		font-family: bitstream vera sans mono, monaco, consolas, monospace;
		font-size: 0.8em;
		border: 1px solid #E0E0EA;
		padding: 1.5em;
		margin-left: 2em;
		margin-bottom: 2em;
}

table.issue_table td {
		padding: .5em;
		border-collapse: collapse;
		padding-right: 1.5em;
}

tr.issue_table_head td {
		font-weight: bold;
		border-bottom: 1px dotted #C0C0CA;
		
}

div#comment_form {
		margin-bottom: 3em;
}

div#login_form {
		margin-bottom: 1em;
}

div.error {
		color: #FF0000;
		font-weight: bold;
		background-color: #FFFFEE;
		-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
		padding: 1.5em;
		border: 1px solid #E0E0EA;
}

input, textarea {
		border: 1px solid #A0A0AA;
		-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
		padding: 3px;
}
