<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
		<meta http-equiv="Content-Language" content="en-us" /> 

		<title>{{ idiot_title }}{% block title_crumbs %}{% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{{idiot_media_path}}{{idiot_stylesheet}}" />
  </head>
	<body>
    <div id="header">
    <h1>
    {% block header %}
    <a href="{{idiot_app_path}}">{{ idiot_title }}</a>
    {% endblock %}
    </h1>
    {% block user_section %}
    <div id="user_info">
        <!-- Session: {{ session }} -->
        {% if logged %}
          {% import 'user_info.html' as user_info %}
          {{ user_info }}
        {% else %}
          {% import 'login_form.html' as login_form %}
          {% if login_error is defined %}
					<div class="error">{{login_error}}</div>
					{% endif %}
					{{ login_form }}
        {% endif %}
    </div>
    {% endblock %}
    </div>
    <div id="content">
	{% block content %}
    {% endblock %}
    </div>
	{% block footer %}
	<div id="footer">
	<small>Powered by <a href="http://github.com/lysol/idiot">idiot</a><br />
		&copy; 2010 <a href="http://brainindustries.com">Brain Industries</a>
    </small>
	</div>
	{% endblock %}
	</body>
</html>
