<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
		<meta http-equiv="Content-Language" content="en-us" /> 

		<title>{{ idiot_title }}{% block title_crumbs %}{% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{{idiot_media_path}}{{idiot_stylesheet}}" />
  </head>
	<body>
    <div id="header">
    <h1><a href="{{idiot_app_path}}">{{ idiot_title }}</a></h1>
    </div>
    <div id="content">
	{% block content %}
    {% endblock %}
    </div>
	{% block footer %}
	<div id="footer">
	<small>Powered by <a href="http://github.com/lysol/idiot">idiot</a><br />
		&copy; 2010 <a href="http://brainindustries.com">Brain Industries</a>
    </small>
	</div>
	{% endblock %}
	</body>
</html>
