{% extends "base.html" %}

{% block header %}
Project: <a href="{{idiot_app_path}}project/{{project.name}}/">{{project.full_name}}</a><br />
{% endblock %}

{% block title_crumbs %} - Issue {{issue.seq}}: {{issue.summary}}{% endblock %}

{% block content %}
{% if not error %}
<h2>Issue {{ issue.seq }}: {{ issue.summary }}</h2>
{% if write_allowed %}
<p>
  <a href="{{idiot_app_path}}issue/{{ issue.seq }}/update">Update Issue</a>
</p>
{% endif %}
<h3>Owner: <a href="{{ idiot_app_path }}user/{{ author.username }}">{{ author.full_name }}</a></h3>
<h3>Type: {{ issue.type|capitalize }}</h3>
<h3>Severity: {{ issue.severity|capitalize }}</h3>
<h3>Status: {{ issue.status|capitalize }}</h3>
<p>{{issue.description}}</p>

{% if comments|count > 1 %}

<h3>Comments</h3>

{% for comment in comments %}
  <p class="comment">{{ comment.author.full_name }} added:<br />
  {{ comment.comment }}
  </p>
{% endfor %}

{% endif %}

<p>
				{% if last_project and last_issue_page %}
				<a href="{{idiot_app_path}}project/{{project.name}}/issues/page/{{last_issue_page}}">Back to Issue List</a>
				{% else %}
				<a href="{{idiot_app_path}}project/{{project.name}}/issues">Back to Issue List</a>
				{% endif %}
</p>

{% else %}

<h2>Error</h2>
<p>{{error}}</p>
{% endif %}
{% endblock %}
