{% extends "base.html" %}

{% block header %}
Project: <a href="{{idiot_app_path}}project/{{project.name}}/">{{project.full_name}}</a><br />
{% endblock %}

{% block title_crumbs %} - Issue {{issue.seq}}: {{issue.summary}}{% endblock %}

{% block content %}
{% if not error %}
<h2>Issue {{issue.seq}}: {{issue.summary}}</h2>
<h3>Owner: <a href="{{idiot_app_path}}user/{{author.username}}">{{author.full_name}}</a></h3>

<p>{{issue.description}}</p>

<p>
				{% if last_project and last_issue_page %}
				<a href="{{idiot_app_path}}project/{{project.name}}/issues/page/{{last_issue_page}}">Back to Issue List</a>
				{% else %}
				<a href="{{idiot_app_path}}project/{{project.name}}/issues">Back to Issue List</a>
				{% endif %}
</p>

{% else %}

<h2>Error</h2>
<p>{{error}}</p>
{% endif %}
{% endblock %}
