{% extends "base.html" %}

{% import 'issue_table.html' as issue_table with context %}

{% block header %}
Project: <a href="{{idiot_app_path}}project/{{project.name}}/">{{project.full_name}}</a><br />
Owner: <a href="{{idiot_app_path}}user/{{owner.username}}">{{owner.full_name}}</a>
{% endblock %}

{% block content %}
{% if not error %}
<h2>Viewing Issues</h2>

{{ issue_table.issue_table(issues, with_links=True) }}

<p id="page_nav">
  {% if prev_page_url %}
	  <a href="{{ prev_page_url }}">Newer Issues</a>
  {% endif %}
	{% if next_page_url %}
	  <a href="{{ next_page_url }}">Older Issues</a>
	{% endif %}
</p>

<p>
<a class="button" href="{{idiot_app_path}}project/{{project.name}}">Back to Project Page</a>
</p>

{% else %}

<h2>Error</h2>
<p>{{error}}</p>
{% endif %}
{% endblock %}
