{% extends "base.html" %}

{% block header %}
Project: <a href="{{idiot_app_path}}project/{{project.name}}/">{{project.full_name}}</a><br />
Owner: <a href="{{idiot_app_path}}user/{{project.owner}}">{{owner.full_name}}</a>
{% endblock %}

{% block content %}
{% if not error %}

<p>
<h2>Description</h2>
{{project.description}}
</p>

<p>
<h2>Recent Issues</h2>
  <ul id="issue_list">
{% for issue in recent_issues %}
	  <li>{{issue.seq}}: <a href="{{idiot_app_path}}issue/{{issue.seq}}/">{{issue.summary}}</a></li>
{% endfor %}
  </ul>
</p>

<p>
<h2>Actions</h2>
<ul>
 <li><a href="{{idiot_app_path}}project/issues/add">Create a new issue</a></li>
 <li><a href="{{idiot_app_path}}project/{{project.name}}/issues/">View all issues</a></li>
</ul>
</p>
{% else %}

<h2>Error</h2>
<p>{{error}}</p>
{% endif %}
{% endblock %}
