{% extends "base.html" %}

{% import 'issue_table.html' as issue_table with context %}

{% block header %}
{% import 'project_header.html' as project_header with context %}
{{ project_header.project_header(project) }}
{% endblock %}

{% block content %}
{% if not error %}

<p>
<h2>Description</h2>
<div id="project_description">{{project.description}}</div>
</p>

<p>
<h2>Recent Issues</h2>

  {{ issue_table.issue_table(recent_issues, with_links=True) }}

</p>

<p>
<ul class="action_list">
 {% if logged %}<li><a class="button" href="{{idiot_app_path}}project/{{project.name}}/issue/create">Create a new issue</a></li>{% endif %}
 <li><a class="button" href="{{idiot_app_path}}project/{{project.name}}/issues/">View all issues</a></li>
</ul>
</p>
{% else %}

<h2>Error</h2>
<p>{{error}}</p>
{% endif %}
{% endblock %}
