{% extends "base.html" %}

{% block header %}
Project: <a href="{{idiot_app_path}}project/{{issue.project.name}}/">{{issue.project.full_name}}</a><br />
Owner: <a href="{{idiot_app_path}}user/{{issue.project.owner.username}}">{{issue.project.owner.full_name}}</a>
{% endblock %}

{% block title_crumbs %} - Update an Issue{% endblock %}

{% block content %}

  <h2>Update Issue #{{ issue.seq }}</h2>

  {% if error %}
    <div class="error">
      {{ error }}
    </div>
  {% endif %}

  <div id="issue_form">
    <form action="{{idiot_app_path}}issue/{{ issue.seq }}/update" method="POST">
      {% import 'issue_update_form.html' as issue_form with context %}
      {{ issue_form }}
			<a class="button" href="javascript:void();" onclick="parentNode.submit()">Update Issue</a>
    </form>
  </div>

{% endblock %}
