{% extends "base.html" %}

{% import 'issue_table.html' as issue_table with context %}

{% block header %}User: <a href="{{ idiot_app_path }}user/{{ user.username }}">
{% if user.full_name %}
  {{ user.full_name }}
{% else %}
  {{ user.username }}
{% endif %}
</a>
{% endblock %}

{% block content %}

{% if user.about %}
  <p>{{ user.about }}</p>
{% endif %}

{% if user.website %}
  <p><b>Website:</b> <a href="{{ user.website }}">{{ user.website }}</a></p>
{% endif %}

<p>
Recent Issues

  {{ issue_table.issue_table(recent_issues, with_links=True) }}

</p>

<p>
Recent Comments
</p>



{% endblock %}
